{% load staticfiles %}
<!DOCTYPE html>
{% load bootstrap3 %}
{% load bootstrap_themes %}
{% bootstrap_styles theme='cosmo' type='min.css' %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}GetAnswers{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  {% block head %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'question_list' %}">GetAnswers</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">

        {% comment %}
            <li class="dropdown">
            <a href="{% url 'recent_worms' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Worm Stats <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'recent_worms' %}">Recent Worms</a></li>
              <li><a href="{% url 'popall_worms' %}">Most Popular Worms – All-Time</a></li>
              <li><a href="{% url 'pop30_worms' %}">Most Popular Worms – Last 30 Days</a></li>
              <li><a href="{% url 'top_birds' %}">Most Popular Birds – All-Time</a></li>
            </ul>
          </li>

          {% if user.is_authenticated %}

          <li class="dropdown">
          <a href="{% url 'user_detail' user.pk %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> {{ user.username }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'user_questions' user.pk %}">My Questions</a></li>
            <li><a href="{% url 'user_answers' user.pk %}">My Answers</a></li>
          </ul>
        </li>
        {% endcomment %}
          {% if user.is_authenticated %}
          <li role="presentation">
            <a href="{% url 'logout' %}?next={% firstof request.path '/' %}">Logout</a>
          </li>
          {% else %}
          <li role="presentation">
            <a href="{% url 'login' %}?next={% firstof request.path '/' %}">Login</a>
          </li>
          <li role="presentation">
            <a href="{% url 'register' %}?next={% firstof request.path '/' %}">Register</a>
          </li>
          {% endif %}
        </ul>
    </div>
  </div>
</nav>
  <div class="container">
    {% bootstrap_messages %}
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="add-answer">
      {% block add_answer %}{% endblock %}
    </div>
  </div>
</body>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3">
        <br>
        <p><small>&copy;2015 Adam Hartz and Jonathan Frederick</small></p>
      </div>
    </div>
  </div>
</footer>
</html>
