{% extends "base.html" %}

{% block content %}

  <div class="container">
    <div class="col-md-10">
      {% comment %}
        This is where the question goes, with all of its information
        - panel
        - leave last two columns open for tags to float
      {% endcomment %}
      <div class="row">
        <div class="row">
          <div class="col-md-1">
            {# This is space to put something beside the question panel #}
          </div>
          <div class="col-md-9">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><b>{{ view.question.title }}</b></h3>
              </div>
              <div class="panel-body">
                {{ view.question.qtext }}
              </div>
            </div>
          </div>
        </div>
        <br>

        {% for answer in answers %}
        <div class="row">
          <div class="col-md-1">
            {# This is where we will put the up down vote and vote count #}
            <div class="row">
              <a href="#"><span class="glyphicon glyphicon-chevron-up text-muted"></span></a>
            </div>
            <div class="row">
              <b>&nbsp;{{ answer.score }}</b>
            </div>
            <div class="row">
              <a href="#"><span class="glyphicon glyphicon-chevron-down text-muted"></span></a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="panel panel-default">
              <div class="panel-body">
                {{ answer.atext }}
              </div>
              <div class="panel-footer"><small><b>{{ answer.answerer }}</b>, answered on {{ answer.timestamp }}</small></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-2">
      {% for tag in view.question.tag.all %}
      <div class="row">
        <p>{{ tag.ttext }}</p>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
