{% extends "getanswers/profile_detail.html" %}

{% block prof_list %}



<div class="container">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-1">
        {# left side padding #}
      </div>
      <div class="col-md-9">
        <h2>{{ view.profile }}'s Answers</h2>
        <br>
        {% for answer in answers %}
          <div class="row">
            <div class="row">
              <a href="{% url 'answer_list' answer.question.pk %}">{{ answer.question.title }}</a>
            </div>
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-1"><p style="text-align:right"><strong>{{ answer.score }}</strong></p></div>
                <div class="col-md-1"><small>pts</small></div>
                <div class="col-md-10">{{ answer.atext }}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <br>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<div class="col-md-2">
</div>

</div>
{% endblock %}
