{# {% extends "base.html" %}#}
{% load bootstrap3 %}
{% load bootstrap_themes %}
{% load i18n admin_static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_styles theme='slate' type='css'%}
{% block content %}

<header><h1>Get Answers</h1>
<h3>Recently asked questions:</h3></header>
<!--  TODO: Add links to detail pages-->
{% for question in questions %}
<a href="#"><p>{{ question.title }}</p></a>
<p><small>has gotten {{ question.answer_set.count }} answers in {{ question.timestamp | timesince }}</small></p>
{% endfor %}

{% bootstrap_pagination page_obj %}
{% endblock %}
